.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin: 0;
  padding: 0;
}

.navBar-top{
  border:  4px solid cyan;
  width: 30%;
}

.container{
  border:  4px solid blue;
  flex-grow: 1;
  width: 30%;
 
  min-height: 82vh;
  display: flex;
  flex-direction: column;

}



.weather-data{
border: 4px solid cornflowerblue;
align-self: flex-end;
width: 60%;
}
.weather-data-icon{
border: 4px solid orange;
width: 48px;
height: 48px;
}

